<div class="container">
   <div class="card shopping-cart">
            <div class="card-header titre-cart">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Contenu de votre panier
                <div class="clearfix"></div>
            </div>
            <div class="card-body">

<table class="table"style="">
  <thead>
    <tr class="text-center">
      <th scope="col">Quantité</th>
      <th scope="col">Ref</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <%x=1%>
  <%sum = 0%>
  <%@lists.each do |list|%>
    <tr class ="text-center">
      <%if list.cart_id == current_user.cart.id%>
        <%sum+=list.item.price%>
        <%x+=1%>
        <td><%= x-1%></td>
        <td>ref-00<%= list.id%>15-cat</td>
        <td><%= list.item.title%></td>
        <td><%= list.item.price%> €</td>
        <td><%= link_to "Delete", list_item_path(list.id, :cart_id => list.cart_id), method: 'delete', class: 'button-cart-delete' %></td>
      <%end%>
    </tr>
    <%end%>
  </tbody>
</table>
                   
<div class="card-footer">
  <div class="coupon col-md-5 col-sm-5 no-padding-left pull-left">
    <div class="row">
      <tr>
      <td>Le montant est de : </td>
      <td><%= sum %> €</td>
    </div>
      <div class="row">
      <tr>
     <% if current_user %>
        <td><%= link_to "Paiement", new_charge_path(:price => sum), class: "button-cart" %></td>
      <% end %>
    </tr>
    </div>
    </div>
    </div>
    </div>
    </div><br><br>
    </div>



            