
<table class="table"style="">
  <thead>
    <tr class="text-center">
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Price</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <%x=1%>
  <%sum = 0%>
  <%@lists.each do |list|%>
    <tr class ="text-center">
      <%if list.cart_id == current_user.cart.id%>
        <%sum+=list.item.price%>
        <%x+=1%>
        <td><%= x-1%></td>
        <td><%= list.item.title%></td>
        <td><%= list.item.price%> €</td>
        <td>Button</td>
      <%end%>
    </tr>
    <%end%>
  </tbody>
    <tfoot>
    <tr>
      <td>Sum</td>
      <td><%= sum %> €</td>
      <td><%= button_to "Pay", order_index_path(:price => sum), class: "btn btn-warning" %></td>
    </tr>
  </tfoot>
</table>
