<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-logo">
						<i class=""><img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/FR/fr/999/EP4396-CUSA10659_00-AV00000000000038/1575450121000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" style="width:130px;height:130px;"></i>
					</span>
          <span class="login100-form-title p-b-34 p-t-27">
						Créer un compte
					</span>


  <div class="wrap-input100">
  <div class="input100">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  </div>

  <div class="wrap-input100">
  <div class="input100">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>
  </div>


  <div class="wrap-input100">
  <div class="input100">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  </div>

	<div class="container-login100-form-btn">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

	
			</div>
		</div>
	</div>