<div class="container"><br><br>
   <div class="card shopping-cart">
            <div class="card-header titre-cart">
                <i class="fa fa-user" aria-hidden="true"></i>
                Mon profil
                <div class="clearfix"></div>
            </div>
            <div class="card-body">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Identifiant</th>
      <th scope="col">E-mail</th>
      <th scope="col">Administrateur</th>
      <th scope="col">Avatar attaché</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><%= @user.id %></th>
      <td><%= @user.email %></td>
      <td><%= @user.is_admin? %></td>
      <td><%= @user.avatar.attached? %></td>
    </tr>
  </tbody>
</table>
<%= link_to "Editer mon compte", edit_user_registration_path, class:"button-cart"  %>
<!-- welcome paragraph -->
<%# <p>Bienvenue sur la page d'ajout d'un avatar pour le User suivant :</p> %>

<!-- show avatar if available -->
<h2 class="my-5">Avatar</h2>
<% if @user.avatar.attached? %>
  <%= image_tag @user.avatar, alt: 'avatar' %>
<%else%>
  <p>Il n'y a pas encore d'avatar lié à cet utilisateur</p>
<%end%>

<!-- show to update avatar
<h3>Modifie avatar</h3>
<%= form_tag user_avatars_path(@user), multipart: true do %>
  <%= file_field_tag :avatar %>
  <%= submit_tag "mettre à jour" %>
<% end %> -->

<% if @user.is_admin? %>
  <%= link_to "Orders", root_path, class: "btn btn-secondary"%>
<% end %>
</div></div></div></div>

<div class="container"><br><br>
   <div class="card shopping-cart">
            <div class="card-header titre-cart">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Mes derniers achats
                <div class="clearfix"></div>
            </div>
            <div class="card-body">
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
      <th scope="col">Item id</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr class="bg-info">
        <th scope="row"><%= order.id %></th>
        <th><%= order.price %> €</th>
        <th><%= order.created_at %></th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <% order.items.each do |item| %>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><%= item.id %></td>
        <td><%= item.title %></td>
        <td><%= item.description %></td>
        <td><%= item.price %></td>
        <td><%= button_to "Product", item_path(item.id) , class: "btn btn-info", method: 'get'%></td>
      </tr>
      </div>
      <% end %>
    <% end %>

  </tbody>
</table>
</div></div></div><br><br>
