<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-logo">
						<i class=""><img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/FR/fr/999/EP4396-CUSA10659_00-AV00000000000038/1575450121000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" style="width:130px;height:130px;"></i>
					</span>
          <span class="login100-form-title p-b-34 p-t-27">
						Changer son mot de passe
					</span>



     <div class="input100"><%= f.label :password, "New password" %></div>
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %></div>

  
    <div class="input100"><%= f.label :password_confirmation, "Confirm new password" %></div>
     <div class="wrap-input100"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></div>
  

<div class="container-login100-form-btn">
  <div class="login100-form-btn">
    <%= f.submit "Change my password" %>
  </div></div>
<% end %>
<br><br>
<%= render "devise/shared/links" %>
</div>
  </div>
    </div>