<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="limiter">
		<div class="container-login100" style="background-image: url('images/bg-01.jpg');">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-logo">
						<i class=""><img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/FR/fr/999/EP4396-CUSA10659_00-AV00000000000038/1575450121000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" style="width:130px;height:130px;"></i>
					</span>
          <span class="login100-form-title p-b-34 p-t-27">
						Se connecter
					</span>


  <div class="wrap-input100">
  <div class="input100">
      <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  </div>

  <div class="wrap-input100">
  <div class="input100">
      <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  </div>

<div class="contact100-form-checkbox">
  <div class="input100">
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
</div>
</div>

<div class="login100-form-btn">
<div class="container-login100-form-btn">
    <%= f.submit "Connexion" %>
  </div>  </div>
<% end %>



<%= render "devise/shared/links" %>
		</div>	
				</form>
			</div>
		</div>
