<h1>Items#show</h1>
<p>Find me in app/views/items/show.html.erb</p>
<p>Title: <%= @item.title %></p>
<p>Title: <%= @item.description %></p>
<p>Title: <%= @item.price %></p>

<%= link_to "Items", items_path %>
<% if user_signed_in? %>
  <%= link_to "add to cart", list_items_path(:item_id => @item.id), method: :post, class: "btn btn-primary"%>
<%end%>
