        <!-- Header Start -->
        <div class="header-area ">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <div class="header-left d-flex align-items-center">
                            <!-- Logo -->
                            <div class="logo">
                                <a href=<%=root_path%>><img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/cat-logo-design-template-6ab8c8b9fd3d5c7b60685ded66927dea_screen.jpg?ts=1582354011" alt="" style="width:150px;height:150px;"></a>
                            </div>
                            <!-- Main-menu -->
                            <div class="main-menu d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href=<%=root_path%>>Home</a></li> 
                                        <li><a href="#">Login</a>
                                        <ul class="submenu">
                                            <% if user_signed_in? %>        
                                                  <p class="text-center">BIENVENUE</p>
                                                  <li><%= link_to "Mon compte" %></li>
                                                  <li><%= link_to "Mon panier", cart_path(current_user.id)%></li>
                                                  <li><%= link_to "Mes commandes" %></li>
                                                  <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></li>
                                            <% else %>          
                                                  <li><%= link_to "Se connecter", new_user_session_path %></li>
                                                  <li><%= link_to "S'inscrire", new_user_registration_path %></li>
                                            <% end %>
                                        </ul>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </nav>
                              </div>   

                        </div>
                        <div class="header-right1 d-flex align-items-center">
                            <!-- Social -->
                            <div class="header-social d-none d-md-block">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="https://bit.ly/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-pinterest-p"></i></a>
                            </div>
                            <!-- Search Box -->
                            <div class="search d-none d-md-block">
                                <ul class="d-flex align-items-center">
                                    <li>
                                        <%if user_signed_in?%>
                                        <div class="card-stor">
                                            <a href=<%=cart_path(current_user.id)%>>
                                            <i class="fas fa-shopping-basket"></i>
                                            </a>
                                            <span><%=number_of_items_on_cart%></span>
                                        </div>
                                        <%end%>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->