        <!-- Header Start -->
        <div class="header-area ">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper d-flex align-items-center justify-content-between">
                        <div class="header-left d-flex align-items-center">
                            <!-- Logo -->
                            <div class="logo">
                                <a href=<%=root_path%>><img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/cat-logo-design-template-6ab8c8b9fd3d5c7b60685ded66927dea_screen.jpg?ts=1582354011" alt="" style="width:150px;height:150px;"></a>
                            </div>
                            <!-- Main-menu -->
                            <div class="main-menu">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href=<%=root_path%>>Home</a></li> 
                                        <li><a href="#">Login</a>
                                        <ul class="submenu">
                                            <% if user_signed_in? %>        
                                                  <p class="text-center">BIENVENUE</p>
                                                  <li><%= link_to "Mon compte", edit_user_registration_path %></li>
                                                  <li><%= link_to "Mon panier", cart_path(current_user.id)%></li>
                                                  <li><%= link_to "Mes commandes", user_path(current_user.id) %></li>
                                                  <li><%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %></li>
                                            <% else %>          
                                                  <li><%= link_to "Se connecter", new_user_session_path %></li>
                                                  <li><%= link_to "S'inscrire", new_user_registration_path %></li>
                                            <% end %>
                                        </ul>
                                        <li><a href="#">Contact</a></li>
                                        <li>
                                            <% if current_user && current_user.is_admin %>
                                                <li><%= link_to "Admin Area", order_index_path %></li>
                                            <% end %>
                                        </li>
                                    </ul>
                                </nav>
                            </div>   

                        </div>
                        <div class="header-right1 d-flex align-items-center">
                            <!-- Social -->
                            <div class="header-social d-none d-md-block">
                                <a href="https://twitter.com/MazonCat"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.facebook.com/CatMazon-115412286955988"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://www.instagram.com/catmazon/"><i class="fab fa-instagram"></i></a>
                            </div>
                            <!-- Card Box -->
                            <div class="search d-none d-md-block">
                                <ul class="d-flex align-items-center">
                                    <li>
                                        <%if user_signed_in?%>
                                        <a href=<%=cart_path(current_user.id)%>>
                                        <div class="card-stor">
                                            <i class="fas fa-shopping-basket"></i>
                                            <span><%=number_of_items_on_cart%></span>  
                                        </div>
                                        </a>
                                        <%end%>
                                    </li>
                                </ul>
                            </div>
                        </div>
                         </div>
          